* {
  cursor: url("https://stelo-studio.s3.ap-southeast-2.amazonaws.com/cursor/Cursor.png"), auto !important;
}

html,
body {
  font-family: 'serif';
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a > *:hover {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "solide-mirage-mono";
}

p {
  white-space: pre-line
}

@font-face {
  font-family: 'solide-mirage-mono';
  font-weight: normal;
  font-style: normal;
  src: url('https://stelo-studio.s3.ap-southeast-2.amazonaws.com/fonts/Solide_Mirage-Mono_web.woff') format('woff');
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.flower-background {
  background-image: url("https://stelo-studio.s3.ap-southeast-2.amazonaws.com/background/Background.PNG");
  background-size: cover;
  background-position: center;
}

.main-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-left: 2vw;
  margin-right: 2vw;

  /* Troubleshooting */
  /* background-color: blue; */
}

.main-area {
  flex: 1

  /* Troubleshooting */
  /* background-color: blue; */
}

.navbar-area {
  order: -1;
  padding-right: 2vw;
  margin-bottom: 2vh;

  /* Troubleshooting */
  /* background-color: lightblue; */
  /* border: 1px solid black; */
}

@media (max-width: 600px){
  .main-container {
    flex-direction: column;
  }
}

.brand-title {
  text-align: center;
  /* Troubleshooting */
  /* background-color: green; */
  /* border: 1px solid black; */
}

.footer {
  text-align: center;
  font-size: small;
  /* color: grey; */
  
  /* Troubleshooting */
  /* background-color: red; */
  /* border: 1px solid black; */
}

.main-area {
  flex: 1;

  /* Troubleshooting */
  /* background-color: blue; */
  /* border: 1px solid black; */
}

.text-with-image {
  display: flex;
  flex-direction: row;
}

.text-with-image > .text-area {
  padding: 1vw;
  width: 50%;
}

.text-with-image > .image-area {
  width: 50%;
  padding: 1vw;
}

@media (max-width: 600px){
  .text-with-image {
    flex-direction: column;
  }

  .text-with-image > .text-area {
    padding: 1vw;
    width: 100%;
  }
  
  .text-with-image > .image-area {
    width: 100%;
    padding: 1vw;
  }
}

.photo-gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1500px){
  .photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px){
  .photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px){
  .photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px){
  .photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
  }
}

img {
  object-fit: cover;
}

.landing-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-image-container {
  display: flex;
  justify-content: center;
}

.photo-gallery-viewer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-image-overlay, .previous-image-overlay {
  position: fixed;
  height: 100%;
  width: 8%;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);

  transition: width 0.2s;
  transition-delay: 150ms;
}

.next-image-overlay:hover, 
.previous-image-overlay:hover {
  width: 7%;
}

.next-image-overlay:hover .circle, 
.previous-image-overlay:hover .circle,
.close-viewer-button-container:hover .circle {
  background-color: rgb(221, 221, 221);
}

.next-image-overlay {
  right: 0;
  /* background-color: red; */
}

@media (max-width: 600px){
  .next-image-overlay, .previous-image-overlay {
    display: none;
  }
}

.previous-image-overlay {
  left: 0;
  /* background-color: green; */
}

.circle {
  z-index: 1001;
  opacity: 1;
  background-color: rgb(181, 181, 181);
  padding: 5px;
  border-radius: 30px;
  height: 35px;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.next-image-button, .previous-image-button, .close-viewer-button {
  font-size: x-large;
}

.unselectable {
  user-select: none;
}

.close-viewer-button-container {
  position: fixed;
  z-index: 1002;
  left: 3.5%;
  top: 2%;
}